.dark-theme {
    --primary-color: #809fff;
    --secondary-color: #253668;
    --main-bg-color: #202945;
    --link-color: #809fff;
    --font-color: #809fff;
}

:root {
    --primary-color: #fff;
    --secondary-color: #fff;
    --main-bg-color: #f0f0f0;
    --link-color: #2383E2;
    --font-color: #37352F;
}

body {
    margin: 0;
    font-size: 1rem;
    font-family: system-ui;
    background-color: var(--main-bg-color);
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.wrapper>* {
    padding: 10px;
    flex: 1 100%;
    color: var(--primary-color);
}

nav {
    text-align: center;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

nav>a {
    margin-left: 20px;
    font-size: 1.2rem;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
}

@media all and (min-width: 600px) {
    .aside {
        flex: 1 0 0;
    }
}

.middle-panel>article {
    background-color: var(--secondary-color);
    color: var(--font-color);
    text-align: left;
    border-radius: 5px;
    margin-bottom: 25px;
    padding: 20px;
}

.post-entry {
    position: relative;
}

.entry-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.right-panel>a {
    font-size: 16px;
    display: block;
    margin-top: 20px;
}

section>p {
    color: var(--font-color);
    margin: 8px 0;
}

.bottom-container>section>p {
    color: var(--font-color);
    text-align: center;
}

@media all and (min-width: 800px) {
    .middle-panel {
        flex: 3 0px;
    }

    .left-panel {
        order: 1;
    }

    .middle-panel {
        order: 2;
    }

    .right-panel {
        order: 3;
    }

    .bottom-container {
        order: 4;
    }
}

#theme-icon {
    height: 1.2rem;
}